<div
  [routerLink]="['/booking/freelance/', freelance.id]"
  class="container-card-profile"
>
  <div class="price">
    <h4>{{ freelance.price }} €/j</h4>
  </div>

  <div class="content">
    <div class="img-profile">
      <img [src]="freelance.photo" />
    </div>
    <div class="text-profile">
      <h2>{{ freelance.firstname }} {{ freelance.lastname }}</h2>
      <h3>{{ freelance.description }}</h3>
      <div class="chip">
        <ng-container *ngFor="let skill of skillsArray">
          <span>{{ skill }}</span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
