<div class="container-card-profile">
  <div class="price">
    <h4>{{ freelance.price }} €/j</h4>
  </div>

  <div class="content" [routerLink]="['/booking/freelance/', freelance.id]">
    <div class="img-profile">
      <img src="/assets/marie-delaire.jpeg" alt="" />
    </div>
    <div class="text-profile">
      <h2>{{ freelance.firstname }} {{ freelance.lastname }}</h2>
      <h3>{{ freelance.description }}</h3>
      <div class="chip">
        <span>{{ freelance.skills }}</span>
      </div>
    </div>
  </div>
</div>
