<div class="container-dash">
  <p-table
    *ngIf="listBookings$ | async as listBookings"
    [value]="listBookings"
    styleClass="p-datatable-striped"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>IDENTITÉ</th>
        <th>MISSION</th>
        <th>JOURS</th>
        <th>TJM</th>
        <th>TOTAL</th>
        <th>DATE DE DÉBUT</th>
        <th>ACTION</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-booking>
      <tr>
        <td>{{ booking.freelance.firstname }}</td>
        <td>{{ booking.title }}</td>
        <td>{{ booking.numberDays }}</td>
        <td>{{ booking.freelance.price }} €/j</td>
        <td>
          {{
            bookingService.calculTotalPrestation(
              booking.freelance.price,
              booking.numberDays
            )
          }}
        </td>
        <td>{{ booking.dateDebut | date : "dd/MM/yyyy" }}</td>
        <td>
          <button (click)="deleteBooking(booking.id)">
            Annuler la prestation
          </button>
        </td>
      </tr>

      <td></td
    ></ng-template>
  </p-table>
</div>
