.container-app {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: -40px;
}

.container-principal {
  margin: 0 auto;
  max-width: 1200px;
}

.container-formulaire {
  width: 65%;
  padding: 30px 60px;
  background: rgba(255, 255, 255, 0.53);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border-radius: 15px;
}

.container-infos {
  width: 30%;
}

.price {
  margin-top: 30px;
}
